{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l8">
        <div class="card-panel lighten-4"><!-- Card's Color -->
            <div class="container">
                <div class="row">
                    <div class="col s12 card-panel card-details">
                        <span class="name-wrapper flow-text">{{ card.cardName }}</span>
                        <span class="mana-cost flow-text secondary-content"><!-- Mana Cost --></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 card-panel center grey lighten-5">
                        <span class="flow-text">{{ card.type }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 card-panel grey lighten-5">
                        <span class="flow-text card-text"><!-- Card Text --></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="row">
            <div class="col s12">
                <div class="collection with-header card-panel grey lighten-5">
                    <div class="collection-header">Recent Decks with {{ card.cardName }}</div>
                    <!-- Decks with card -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="collection with-header card-panel grey lighten-5">
                    <div class="collection-header">Legality</div>
                    <!-- Legality of Card -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
