RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^.*$ - [L,QSA]
RewriteRule ^.*/js/(.*)$ js/$1 [L]
RewriteRule ^.*/css/(.*)$ css/$1 [L]
RewriteRule ^.*/fonts/(.*)$ fonts/$1 [L]
RewriteRule ^.*/php/(.*)$ php/$1 [L]
RewriteRule ^([a-zA-Z0-9]+)/([0-9]+)/?$ index.php?controller=pages&action=$1&id=$2 [NC,L]
