<!DOCTYPE html>
{% load static %}
<head>
    <title>MTGMetaVisions</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="{% static 'css/mana.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/extra.css' %}" rel="stylesheet">
    {% block admincss %}{% endblock %}
    <meta name="theme-color" content="#3f51b5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blue lighten-4">
    <header>
        <nav class="blue nav-extended">
            <div class="nav-wrapper">
                {% block search %}{% endblock %}
                <a class="brand-logo center">MTGMetaVisions</a>
            </div>
            <div class="nav-content">
                {% block navigation %}{% endblock %}
            </div>
        </nav>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                All original content on this page is &copy; 2016 MTGMetaVisions and may not be used or reproduced without consent. Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC &copy; 1995 - 2016 Wizards. All rights reserved. xdeck is not affiliated with Wizards of the Coast LLC.
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    {% block pagescript %}{% endblock %}
</body>
