{% load static %}
<!DOCTYPE html>
<head>
    <title>MTGMetaVisions</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link href="{% static "css/mana.min.css" %}" rel="stylesheet">
    <link href="{% static "css/extra.css" %}" rel="stylesheet">
    <meta name="theme-color" content="#3f51b5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="blue lighten-4">
    <header>
        <nav class="blue nav-extended">
            <div class="nav-wrapper">
                <form id="search-input">
                    <div class="input-field">
                        <input id="search" class="typeahead" type="search" name="search">
                        <label class="label-icon" for="search">
                            <a id="search-icon"><i class="material-icons">search</i></a>
                        </label>
                        <i class="material-icons clear-search">close</i>
                    </div>
                </form>
                <a class="brand-logo center">MTGMetaVisions</a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="./" class="" target="_self">Home</a></li>
                    <li class="tab"><a href="format/1/" class="" target="_self">Modern</a></li>
                    <li class="tab"><a href="format/2/" class="" target="_self">Pauper</a></li>
                    <li class="tab"><a href="format/3/" class="" target="_self">Standard</a></li>
                    <li class="tab"><a href="format/4/" class="" target="_self">Legacy</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                All original content on this page is &copy; 2016 MTGMetaVisions and may not be used or reproduced without consent. Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC &copy; 1995 - 2016 Wizards. All rights reserved. xdeck is not affiliated with Wizards of the Coast LLC.
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script>
    // const action = <?php echo (isset($_GET['action']) ? '\''.$_GET['action'].'\'' : '\'home\''); ?>;
    requirejs(['js/common'], function(common) {
      requirejs(['js/app/search']);
      // requirejs(['js/app/' + action]);
    });
    </script>
</body>
