{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l8">
        <div class="card-panel lighten-4"><!-- Card's Color -->
            <div class="container">
                <div class="row">
                    <div class="col s12 card-panel card-details">
                        <span class="name-wrapper flow-text">{{ card.cardName }}</span>
                        <span class="mana-cost flow-text secondary-content">{{ card.html_cost | safe }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 card-panel center grey lighten-5">
                        <span class="flow-text">{{ card.type }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 card-panel grey lighten-5">
			    <span class="flow-text card-text">{{ card.html_text | safe }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="row">
            <div class="col s12">
                <div class="collection with-header card-panel grey lighten-5">
                    <div class="collection-header">Recent Decks with {{ card.cardName }}</div>
                    {% for deck in recent_decks %}
                        <a href="/deck/{{ deck.deck.id }}/" class="collection-item">
                            <span>{{ deck.deck.format.name }} {{ deck.deck.archetype.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="collection with-header card-panel grey lighten-5">
                    {# todo: do this automagically, in case a new format is added #}
                    <div class="collection-header">Legality</div>
                    <div class="collection-item">
                        <span>Vintage</span>
                        <span class="secondary-content">{{ card.vintage }}</span>
                    </div>
                    <div class="collection-item">
                        <span>Legacy</span>
                        <span class="secondary-content">{{ card.legacy }}</span>
                    </div>
                    <div class="collection-item">
                        <span>Modern</span>
                        <span class="secondary-content">{{ card.modern }}</span>
                    </div>
                    <div class="collection-item">
                        <span>Standard</span>
                        <span class="secondary-content">{{ card.standard }}</span>
                    </div>
                    <div class="collection-item">
                        <span>Commander</span>
                        <span class="secondary-content">{{ card.commander }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
