{% extends "base.html" %}

{% block search %}
<form id="search-input">
    <div class="input-field">
        <input id="search" class="typeahead" type="search" name="search">
        <label class="label-icon" for="search">
            <a id="search-icon"><i class="material-icons">search</i></a>
        </label>
        <i class="material-icons clear-search">close</i>
    </div>
</form>
{% endblock %}

{% block navigation %}
<ul class="tabs tabs-transparent">
    <li class="tab"><a href="./" class="" target="_self">Home</a></li>
    <li class="tab"><a href="format/1/" class="" target="_self">Modern</a></li>
    <li class="tab"><a href="format/2/" class="" target="_self">Pauper</a></li>
    <li class="tab"><a href="format/3/" class="" target="_self">Standard</a></li>
    <li class="tab"><a href="format/4/" class="" target="_self">Legacy</a></li>
</ul>
{% endblock %}
